<div class="container">
    <h1>verification</h1>
      <h2>Enter the verification code we just sent you on
          <br> your email address.</h2>
      <div class="form">
        <input  type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]" (keyup)="keytab($event)" />
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]" (keyup)="keytab($event)" />
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]" (keyup)="keytab($event)"/>
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]" />
      </div>

      <p>If you didn't recieve a code! 
          <a href="#">Resend</a></p>
      
          <button class="button" routerLink="">Verify</button>
  </div>

