<div class="container">
  <h1>Verification</h1>
  <h2>Enter the verification code we just sent you on
    <br> your email address.</h2>
  <div class="form">
    <input #f1 type="number" (keydown)="keytab($event, f1)"
    [ngModel]="f1" (ngModelChange)="changeFocus($event, f1)"/>
    <input #f2 type="number" (keydown)="keytab($event, f2)"
    [ngModel]="f2" (ngModelChange)="changeFocus($event, f2)"/>
    <input #f3 type="number" (keydown)="keytab($event, f3)"
    [ngModel]="f3" (ngModelChange)="changeFocus($event, f3)"/>
    <input #f4 type="number" (keydown)="keytab($event, f4)"
    [ngModel]="f4" (ngModelChange)="changeFocus($event, f4)"/>
  </div>
  <p>If you didn't recieve a code!
    <a (click)="resendOtp()">Resend</a>
  </p>
  <div class="message">{{message}}</div>
  <button class="button" (click)="onVerify()" [class.disabled]="buttonDisabled"
  [disabled]="buttonDisabled">Verify</button>
</div>
