<div class="container">
  <div class="heading">
    <h2>Create New Password</h2>
    <p>Your new password must be different from <br>previously used passwords.</p>
  </div>
  <div class="form">
    <form [formGroup]="changepassword">
      <div class="input-box">
        <div class="password">
          <p>Password</p>
          <input type="password" placeholder="Enter your Password" formControlName="newPassword">
        </div>
        <div class="re-password">
          <p>Confirm Password</p>
          <input type="password" placeholder="ReEnter your Password" formControlName="reEnterPassword">
          <div class="error">{{message}}</div> 
          <div class="success">{{messageSuccess}}</div>
        </div>
      </div>
      <button class="button" type="submit" (click)="checkpassword()">
        Change Password
      </button>
      </form>
  </div>
</div>
