<div class="container">
  <div class="heading">
    <h2>Create New Password</h2>
    <p>Your new password must be different from <br>previously used passwords.</p>
  </div>
  <div class="form">
    <form [formGroup]="changepassword">
      <div class="input-box">
        <div class="password">
          <p>Password</p>
          <input type="password" placeholder="Enter your Password" (input)="buttonState()" formControlName="newPassword">
        </div>
        <div class="re-password">
          <p>Confirm Password</p>
          <input type="password" placeholder="ReEnter your Password" (input)="buttonState()" formControlName="reEnterPassword">
          <div *ngIf="message" class="error">{{message}}</div> 
        </div>
      </div>
      <button class="button" type="button" (click)="submitPassword()" 
      [class.disabled]="buttonDisabled"
      [disabled]="buttonDisabled">
        Change Password
      </button>
    </form>
  </div>
</div>
