<div class="container password">
  <div class="password-title">
    <p class="password-title-heading">Create New Password</p>
    <p class="password-title-text">Your new password must be different from <br>previously used passwords.</p>
  </div>
  <div class="password-form-container">
    <form class="password-form" [formGroup]="changePasswordForm">
      <div class="password-input">
        <label class="password-input-label" for="password">Password</label>
        <input class="password-input-control" id="password" type="password" placeholder="Enter your Password"
          (input)="buttonState()" formControlName="newPassword" [ngClass]="{'invalid':form.newPassword.invalid && form.newPassword.touched}">
      </div>
      <div class="password-input">
        <label class="password-input-label" for="re-password">Confirm Password</label>
        <input class="password-input-control" id="re-password" type="password" placeholder="ReEnter your Password"
          (input)="buttonState()" formControlName="reEnterPassword"
          [ngClass]="{'invalid':form.reEnterPassword.invalid && form.reEnterPassword.touched}">
        <div class="password-input-error" [ngClass]="{'show':message && form.reEnterPassword.touched}">&nbsp;{{message}}</div>
      </div>
      <button class="button password-button" (click)="submitPassword()" [class.disabled]="buttonDisabled"
        [disabled]="buttonDisabled">
        Change Password
      </button>
    </form>
  </div>
</div>
