@import '../../../../../variables';

.container {
    color: $color-grey-darker;
    font-family: Muli;

    .heading {
        margin: auto;
        display: table;

        h2 {
            margin-top: 0;
            color: $color-white;
            font-family: Muli;
            font-size: 28px;
            font-weight: bold;
            letter-spacing: 0.23px;
            line-height: 34px;
            text-align: center;
            margin-bottom: 60px;
        }

        p {
            color: $color-grey-darker;
            font-family: Muli;
            font-size: 28px;
            letter-spacing: 0.23px;
            line-height: 34px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 50px;
        }
    }

    .form {
        margin: auto;
        display: table;

        .input-box {
            .password {
                p {
                    margin-left: -270px;
                }
            }

            p {
                color: $color-grey-light;
                font-size: 13px;
                line-height: 18px;
                margin-bottom: 0.75rem;
                font-family: muli, sans-serif;
                font-weight: 300;
                font-style: normal;
                margin-left: -220px;
            }

            input {
                box-sizing: border-box;
                height: 40px;
                width: 330px;
                border: 1px solid $color-white;
                border-radius: 6px;
                background-color: rgba(255, 255, 255, 0.06);
                color: $color-primary-dark;
                padding-top: 2px;
                padding-left: 1rem;
                font-family: Muli;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 18px;
                outline: none;
                margin-bottom: 40px;
            }
            .error{
                color: $color-primary-dark;
            }
            .success{
                color: green;
            }
        }

        .button {
            height: 40px;
            width: 250px;
            margin-top: 30px;
            border-radius: 8px;
            background-color: $color-primary-dark;
            cursor: pointer;
            border: none;
            outline: none;
            color: $color-white;
            font-family: Muli;
            font-size: 20px;
            // font-weight: bold;
            letter-spacing: 0;
            line-height: 18px;
            text-align: center;
            margin-bottom: 50px;
        }
    }
}