<div class="header">
  <p class="header-title">{{headerTitle}}</p>
  <div class="header-controls">
    <div class="header-date" *ngIf="dateControl">
      <input type="text" id="date" [matDatepicker]="date" [formControl]="filterDate" (dateInput)="selectedDate($event)">
      <mat-datepicker-toggle [for]="date"><i class="date-icon" matDatepickerToggleIcon></i></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </div>
    <div class="header-search" *ngIf="searchControl">
      <label for="search">
        <mat-icon class="header-search-icon">search</mat-icon>
      </label>
      <input id="search" class="header-search-box" name="filter" type="text" placeholder="Search" [formControl]="search"
        (input)="handleInput()" (focusout)="handleFocusOut()">
    </div>
    <div class="header-profile">
      <div class="user">
        <div class="user-info">
          <p class="user-name">{{user.name | titlecase}}</p>
          <p class="user-designation">{{user.designation}}</p>
        </div>
        <div>
          <img class="user-image" [src]="user.image.url" alt="User Image">
        </div>
      </div>
    </div>
  </div>
</div>
