<p class="text">Forgot password ?</p>
<img src="../../../../assets/forgot-password/img_forgotpassword_illustration.png">
<p class="text">Enter the email address associated with your account.</p>
<p class="sub-text">We will email you a link to reset your password.</p>
<div class="form">
  <div class="input">
    <label for=""></label>
    <input type="text" placeholder="Enter your Email Address" [(ngModel)]="email.value"
    [class.invalid]="email.error">
    <div *ngIf="email.error" class="error">You have entered a invalid mail address</div>
  </div>
  <button class="button">Send</button>
</div>
