@import 'src/variables';
@import 'src/mixins';

.form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}


@mixin image {
  img {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
  }
}

@mixin input-styles {
  .input {
    display: flex;
    flex-direction: column;
    width: 330px;

    label {
      color: $color-grey-light;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 0.75rem;
      font-family: muli, sans-serif;
      font-weight: 300;
      font-style: normal;
    }

    input {
      height: 40px;
      width: 100%;
      border: 1px solid $color-white;
      border-radius: 6px;
      background-color: rgba($color-white, 0.06);
      padding: 11px 1rem;
      @include input-text-style(14px, $color-white);

      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &::placeholder {
        @include input-text-style(14px, $color-white);
      }

      &::-webkit-input-placeholder {
        transform: translateY(2px);
      }

      &:focus,
      &:active {
        outline: none;
      }
    }

    input.invalid {
      color: $color-primary-dark;
      border: 1px solid $color-primary-dark;
    }

    @include error();
  }
}

@mixin error {
  .error {
    margin-top: 6px;
    text-align: left;
    color:$color-primary-dark;
    font-family: Muli;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 15px;
  }
}

@include text;
@include sub-text;
@include image;
@include input-styles;
@include button;

.input-group {
  margin-top: 2rem ;
}

.button {
  margin-bottom: 3rem;
}