@import 'src/variables';
@import 'src/mixins';

.forgot {
  margin: 3rem auto;
  text-align: left;
  font-family: Muli;
  @include text;
  @include sub-text;

  &-title {
    display: block;
    color: $color-grey-darker;
    font-size: 28px;
    font-family: Muli;
    letter-spacing: 0.23px;
    line-height: 34px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3.5rem;

    &-heading {
      display: block;
      margin-bottom: 0;
      color: $color-white;
    }
  }

  &-form-container {
    margin: auto;
  }

  &-display {
    text-align: center;
    margin: 0 0 2.5rem;

    img {
      margin-bottom: 2.5rem;
      margin-top: 0;
    }
  }

  &-form {
    display: block;
    margin: 0 auto;
    max-width: 330px;

    font-size: 14px;
    line-height: 18px;
    font-family: Muli;
    font-weight: 400;
    text-align: left;
  }

  &-input {
    display: flex;
    flex-direction: column;
    width: 330px;
    margin-bottom: 1.25rem;
    position: relative;

    &-control {
      color: $color-white;
      width: 100%;
      padding: 0.7rem 1rem 0.65rem 1rem;
      border-radius: 6px;
      background: #0000000f;
      border: 1px solid $color-white;
      outline: none;
      margin-bottom: 10px;
      transition: all .2s ease;

      &.invalid {
        color: $color-primary-dark;
        border-color: $color-primary-dark;
      }
    }

    &-error {
      color: $color-primary-dark;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 15px;
      margin-left: -5px;
      transition: opacity .1s ease;
      opacity: 0;

      &.show {
        opacity: 1;
      }
    }
  }

  @include button();

  .button {
    transition: 0.1s ease all;
    display: block;
    margin: 0 auto;
  }
}
