<div class="container forgot">
  <div class="forgot-title">
    <p class="forgot-title-heading">Forgot password?</p>
  </div>
  <div class="forgot-form-container">
    <div class="forgot-display">
      <img src="../../../../assets/forgot-password/img_forgotpassword_illustration@1.5x.svg">
      <p class="text">Enter the email address associated with your account.</p>
      <p class="sub-text">We will email you a link to reset your password.</p>
    </div>
    <div class="forgot-form">
      <div class="forgot-input">
        <input class="forgot-input-control" type="text" placeholder="Enter your Email Address" [(ngModel)]="email.value"
          [class.invalid]="email.error" (input)="isValid()">
        <div class="forgot-input-error" [ngClass]="{'show':email.error}">&nbsp;{{email.error}}</div>
      </div>
      <button class="button forgot-button" (click)="onClickSubmitEmail()" [class.disabled]="buttonDisabled"
        [disabled]="buttonDisabled">Send</button>
    </div>
  </div>
</div>
