<div class="notification">
  <div class="notification-list">
    <app-notifications-list></app-notifications-list>
  </div>
  <div class="notification-right">
    <div class="notification-profile">
      <div class="user">
        <div class="user-info">
          <p class="user-greeting">Hello,</p>
          <p class="user-name">Renuka Shetty</p>
          <p class="user-designation">Recruiter</p>
        </div>
        <div class="user-image">
          <!-- <img [src]="dashboardData.user.image.url" alt="User Image"> -->
          <img src="../../../../assets/dashboard-home/icn_hr.png" alt="">
        </div>
      </div>
    </div>
    <div class="notification-form">
        <app-create-event-form></app-create-event-form>
    </div>
  </div>
</div>
