<div class="assign">
  <div class="assign-header">
    <app-header [searchControl]="true" [dateControl]="false" [headerTitle]="'Assign Board'"
      (searchItem)="onSearchItem($event)"></app-header>
  </div>
  <div class="assign-table">
    <app-table [headings]="tableHeadings">
      <tr class="table-row" *ngFor="let item of data; let i = index;" (click)="onItemSelected(i)">
        <td class="table-data">{{item.applicantName}}</td>
        <td class="table-data">{{item.designation}}</td>
        <td class="table-data">{{item.location}}</td>
        <td class="table-data">{{item.assignedDate | date : 'dd MMM, y'}}</td>
        <td class="table-data">{{item.organizer}}</td>
      </tr>
    </app-table>
  </div>
</div>
