<div class="cv">
  <div class="cv-header">
    <app-header [searchControl]="true" [dateControl]="true" [headerTitle]="'CV Analysis'"
      (dateSelected)="onDateSelected($event)" (searchItem)="onSearchItem($event)"></app-header>
  </div>
  <div class="cv-table">
    <app-table [headings]="tableHeadings">
      <tr class="table-row" *ngFor="let item of filteredData; let i = index;" (click)="onItemSelected(item.designation)">
        <td class="table-data">{{item.designation}}</td>
        <td class="table-data">
          <span class="chip" [ngClass]="{'closed': !item.status}">{{item.applicants}}</span>
        </td>
        <td class="table-data">{{item.receivedDate | date : 'dd MMM, y'}}</td>
        <td class="table-data">{{item.status ? 'Active' : 'Closed'}}</td>
        <td class="table-data">{{item.location}}</td>
      </tr>
    </app-table>
  </div>
</div>
