@import 'src/variables';
@import 'src/mixins';

@mixin text {
  .text {
    color: $color-white;
    font-family: Muli;
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 0.23px;
    line-height: 2rem;
  }
}

@include text;
@include button;

form {
  max-width: 70%;
  margin: 0 auto;
  width: 100%;
  margin-top: 2em;
}

.hello-text {
  font-size: 1.25rem;
  font-family: 'Muli';
  font-weight: bold;
  color: $color-primary-dark;
  margin-bottom: 0.1rem;
}

.sign-up {
  margin: auto;
  margin-top: 3rem;
  height: 20px;
  width: 363px;
  font-family: Muli;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.29px;
  line-height: 20px;
  text-align: center;

  p {
    color: $color-grey-dark;
  }

  a {
    color: $color-primary-dark;
    cursor: pointer;

    &:link,
    &:hover,
    &:active {
      text-decoration: none;
      outline: none;
    }
  }
}
