<div class="container">
  <p class="hello-text">Hello!</p>
  <p class="text">Sign Up to get started</p>
  <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-group">
        <label class="input-label">Name</label>
        <input class="input-control" type="text" placeholder="Your Good Name" formControlName="name">
        <p class="input-error" [ngClass]="{'show':!signupForm.get('name').valid && signupForm.get('name').touched }">
          Enter Full Name</p>
      </div>
      <div class="input-group">
        <label class="input-label">Email ID</label>
        <input class="input-control" type="text" placeholder="Your Robosoft Mail ID" formControlName="email">
        <p class="input-error" [ngClass]="{'show':!signupForm.get('email').valid && signupForm.get('email').touched }">
          Enter valid Email ID</p>
      </div>
    </div>
    <div class="row">
      <div class="input-group">
        <label class="input-label">Mobile Number</label>
        <input class="input-control" type="text" placeholder="Your Mobile Number" formControlName="mobile">
        <p class="input-error"
          [ngClass]="{'show':!signupForm.get('mobile').valid && signupForm.get('mobile').touched }">
          Enter valid Mobile Number</p>
      </div>
      <div class="input-group">
        <label class="input-label">Company Designation</label>
        <input class="input-control" type="text" placeholder="Your Company Designation" formControlName="designation">
        <p class="input-error"
          [ngClass]="{'show':!signupForm.get('designation').valid && signupForm.get('designation').touched }">
          Enter valid Ddesignation</p>
      </div>
    </div>
    <div class="row">
      <div class="input-group">
        <label class="input-label">Position</label>
        <div class="input-control-radio">
          <input type="radio" formControlName="radio" name="radio" id="recruiter" value="recruiter" checked="true">
          <label class="input-label radio-label" for="recruiter">
            <div class="radio"></div>
            Recruiter
          </label>
          <input type="radio" formControlName="radio" name="radio" id="organizer" value="organizer">
          <label class="input-label radio-label" for="organizer">
            <div class="radio"></div>
            Organizer
          </label>
          <input type="radio" formControlName="radio" name="radio" id="approval" value="approval">
          <label class="input-label radio-label" for="approval">
            <div class="radio"></div>
            Approval Authority
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-group">
        <label class="input-label">Password</label>
        <input class="input-control" type="password" placeholder="Enter your Password" formControlName="password">
        <p class="input-error"
          [ngClass]="{'show':!signupForm.get('password').valid && signupForm.get('password').touched }">
          Enter a valid Password</p>
      </div>
      <div class="input-group">
        <label class="input-label">Confirm Password</label>
        <input class="input-control" type="password" placeholder="ReEnter your Password" formControlName="rePassword">
        <p class="input-error"
          [ngClass]="{'show':!signupForm.get('rePassword').valid && signupForm.get('rePassword').touched }">
          Passwords do not match</p>
      </div>
    </div>
    <p class="input-error" *ngIf="formError">Please fill all the details</p>
    <button class="button" type="submit" [ngClass]="{'disabled':signupForm.invalid}" [disabled]="signupForm.invalid">Sign Up</button>
  </form>
  <div class="sign-up">
    <p>Already have an Account ? <a routerLink="../form">Sign In</a></p>
  </div>
</div>
