<div class="container notifications">
  <div class="notifications-header">
    <div class="notifications-header-wrapper">
      <p class="notifications-title">Notifications</p>
      <div class="notifications-toggle-switch">
        <label>
          <input type="checkbox" class="notifications-toggle-switch-control">
          <span class="switch-label"></span>
        </label>
      </div>
    </div>
    <div class="notifications-header-wrapper">
      <div class="notifications-search-icon"><img src="assets/dashboard-cv/icn_search.png" alt=""></div>
      <p class="notifications-date">Date:<span>{{date}}</span></p>
    </div>
  </div>
  <hr>
  <div class="notification">
    <ng-container *ngIf="notifications; else loading">
      <ng-container *ngIf="isNotificationExists; else noData">
        <div class="notification-list" *ngFor="let item of notifications; let id = index;">
          <p class="notification-message">{{item.notificationMessage}}
            <span class="dot" (click)="onClose(id)">
              <mat-icon>delete</mat-icon>
            </span>
          </p>
          
          <button *ngIf="item.joinDeclineButton && !isClicked" class="button button-accept" (click)="joinDecline(id,'Join')">Join</button>
          <button *ngIf="item.joinDeclineButton && !isClicked" class="button button-decline" (click)="joinDecline(id,'Decline')">Decline</button>
        
          <div class="notification-schedule">
            <img class="icon" src="assets/notifications/icn_notification time.png" alt="Date Time Icon">
            <p class="time">{{formatDate(item.time)}}</p>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
<ng-template #loading>
  <h2>Loading Notifications...</h2>
</ng-template>
<ng-template #noData>
  <h2>No Notifications!</h2>
</ng-template>