<div class="container notifications">
  <div class="notifications-header">
    <div class="notifications-header-wrapper">
    <p class="notifications-title">Notifications</p>
    <!-- <div class="notifications-toggle-switch"><mat-slide-toggle></mat-slide-toggle></div> -->
    <div class="notifications-toggle-switch">
      <label>
        <input type="checkbox" class="notifications-toggle-switch-control">
        <span class="switch-label"></span>
      </label>
    </div>
  </div>
    <!-- <div class="notifications-toggle-switch"><img src="../../../../../assets/notifications/on.png" alt=""></div> -->
    <div class="notifications-header-wrapper">
    <div class="notifications-search-icon"><img src="assets/dashboard-cv/icn_search.png" alt=""></div>
    <p class="notifications-date">Date:<span>{{date}}</span></p>
    </div>
  </div>
  <hr>
  <div class="notification">
    <div class="notification-list" *ngFor="let item of notifications">
    <!-- <div class="notification-list event"> -->
      <p class="notification-message">{{item.notificationMessage}}<span class="dot">•••</span></p>
      <button *ngIf="item.joinDeclineButton" class="button button-accept">Join</button>
      <button *ngIf="item.joinDeclineButton" class="button button-decline">Decline</button>
      <div class="notification-schedule">
        <img class="icon" src="../../../../../assets/notifications/icn_notification time.png" alt="Date Time Icon">
        <!-- <p class="time">{{item.time}}</p> -->
      </div>
    </div>
  </div>
</div>
