<div class="notification">
  <p class="notification-title">Create event</p>
  <div class="form-group" [formGroup]="eventForm">
    <div class="row">
      <div class="input-group">
        <label class="input-label">Event Title</label>
        <input class="input-control" type="text" placeholder="Give a name for your event" formControlName="event_title">
        <!-- <div class="input-error-wrapper">&nbsp;
          <p class="input-error" *ngIf="signup.event_title?.errors?.required && signup.event_title?.touched">Enter Full Name</p>
          <p class="input-error"
            *ngIf="!signup.event_title?.errors?.required && signup.event_title?.errors?.invalidUserName && signup.event_title?.touched">
            Enter
            a valid username</p>
        </div> -->
      </div>
    </div>
    <div class="row">
      <div class="input-group">
        <label class="input-label">Institution Name</label>
        <input class="input-control" type="text" placeholder="Name of Institution" formControlName="institution_name">
      </div>
    </div>
    <div class="row">
      <div class="input-group">
        <label class="input-label">Location</label>
        <input class="input-control" type="text" placeholder="Enter Institution Location" formControlName="location">
      </div>
    </div>
    <div class="row">
      <div class="input-group">
        <div class="input-group sub">
          <label class="input-label">Date</label>
          <div class="input-container">
            <input class="input-control" placeholder="DD MMM YYYY" [matDatepicker]="eventDate"
              (click)="eventDate.open()" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="eventDate"></mat-datepicker-toggle>
            <mat-datepicker #eventDate>
            </mat-datepicker>
          </div>
        </div>
        <div class="input-group sub">
          <div class="input-group sub">
            <label class="input-label">Time</label>
            <div class="input-container">
              <select id="10" class="input-control" formControlName="time">
                <option value="1">1</option> 
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
          </div>
          <div class="input-group sub">
            <label class="input-label transparent">Time</label>
            <div class="input-container">
              <select id="10" class="input-control" formControlName="meridiem">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-group">
        <label class="input-label">Description</label>
        <textarea class="input-control large no-resize" type="text" rows="3" cols="60" placeholder="Notes" formControlName="description" ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="input-group vertical">
        <label class="input-label">Members</label>
        <div class="image-group">
          <img class="icon-1" src="assets/icn_member_placeholder.svg" alt="">
          <img src="assets/add member.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <button class="clear-button">Clear</button>
      <button class="button create-button">Create</button>
    </div>
  </div>
</div>
