<div class="container">
  <div class="text">
    <p class="welcome-text">Welcome to Robosoft!</p>
    <p class="heading-text">Enter your Details here</p>
  </div>
  <form class="form" [formGroup]="applicantFormTwo" (ngSubmit)="onSubmit()">
    <p class="sub-heading">Work History</p>
    <div formArrayName="workHistoryForm">
      <div class="form-group" [formGroupName]="i" *ngFor="let control of form.workHistoryForm?.controls; let i=index">
        <div class="row">
          <div class="input-group">
            <label class="input-label">Company</label>
            <input class="input-control" type="text" placeholder="Company Name" formControlName="companyName">
          </div>
          <div class="input-group">
            <label class="input-label">Position</label>
            <input class="input-control" type="text" placeholder="Job Title" formControlName="position">
          </div>
        </div>
        <div class="row">
          <div class="input-group">
            <div class="input-group sub">
              <label class="input-label">From</label>
              <div class="input-container">
                <input class="input-control" placeholder="(MM/YYYY)" formControlName="from" [matDatepicker]="workFrom"
                  (click)="workFrom.open()">
                <mat-datepicker-toggle matSuffix [for]="workFrom">
                  <i matDatepickerToggleIcon></i>
                </mat-datepicker-toggle>
                <mat-datepicker #workFrom startView="multi-year" [startAt]="startDate"
                  (yearSelected)="chosenYearHandler($event, control.controls.from)"
                  (monthSelected)="chosenMonthHandler($event, workFrom, control.controls.from)" disabled="false">
                </mat-datepicker>
              </div>
            </div>
            <div class="input-group sub">
              <label class="input-label">To</label>
              <div class="input-container">
                <input class="input-control" placeholder="(MM/YYYY)" formControlName="to" [matDatepicker]="workTo"
                  (click)="workTo.open()">
                <mat-datepicker-toggle matSuffix [for]="workTo">
                  <i matDatepickerToggleIcon></i>
                </mat-datepicker-toggle>
                <mat-datepicker #workTo startView="multi-year" [startAt]="startDate"
                  (yearSelected)="chosenYearHandler($event, control.controls.to)"
                  (monthSelected)="chosenMonthHandler($event, workTo, control.controls.to)" disabled="false">
                </mat-datepicker>
              </div>
            </div>
          </div>
          <div class="input-group">
            <label class="input-label">Location</label>
            <input class="input-control" type="text" placeholder="Enter Location" formControlName="location">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-info-wrapper">
          <p class="form-error" *ngIf="form.workHistoryForm?.invalid">Enter Work History Details</p>
          <a class="form-add-control" (click)="addCompanyForm()">+ Add Other Company</a>
        </div>
      </div>
    </div>
    <p class="sub-heading">Education</p>
    <div formArrayName="educationForm">
      <div class="form-group" [formGroupName]="i" *ngFor="let control of form.educationForm?.controls; let i=index">
        <div class="row">
          <div class="input-group">
            <label class="input-label">Institution</label>
            <input class="input-control" type="text" placeholder="Institution Name" formControlName="instituitionName">
          </div>
          <div class="input-group">
            <label class="input-label">Grade</label>
            <input class="input-control" type="number" placeholder="Grade" formControlName="grade">
          </div>
        </div>
        <div class="row">
          <div class="input-group">
            <div class="input-group sub">
              <label class="input-label">From</label>
              <div class="input-container">
                <input class="input-control" placeholder="(MM/YYYY)" formControlName="from"
                  [matDatepicker]="educationFrom" (click)="educationFrom.open()" [min]="minDate" [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="educationFrom">
                  <i matDatepickerToggleIcon></i>
                </mat-datepicker-toggle>
                <mat-datepicker #educationFrom startView="multi-year" [startAt]="startDate"
                  (yearSelected)="chosenYearHandler($event, control.controls.from)"
                  (monthSelected)="chosenMonthHandler($event, educationFrom, control.controls.from)" disabled="false">
                </mat-datepicker>
              </div>
            </div>
            <div class="input-group sub">
              <label class="input-label">To</label>
              <div class="input-container">
                <input class="input-control" placeholder="(MM/YYYY)" formControlName="to" [matDatepicker]="educationTo"
                  (click)="educationTo.open()">
                <mat-datepicker-toggle matSuffix [for]="educationTo">
                  <i matDatepickerToggleIcon></i>
                </mat-datepicker-toggle>
                <mat-datepicker #educationTo startView="multi-year" [startAt]="startDate"
                  (yearSelected)="chosenYearHandler($event, control.controls.to)"
                  (monthSelected)="chosenMonthHandler($event, educationTo, control.controls.to)" disabled="false">
                </mat-datepicker>
              </div>
            </div>
          </div>
          <div class="input-group">
            <label class="input-label location-text">Location</label>
            <input class="input-control location-input" type="text" placeholder="Enter Location"
              formControlName="location">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-info-wrapper">
          <p class="form-error" *ngIf="form.educationForm?.invalid">Enter Education Details</p>
          <a class="form-add-control" (click)="addEducationForm()">+ Add Other Institution</a>
        </div>
      </div>
    </div>
    <div class="form-group" formGroupName="addressForm">
      <div class="row">
        <div class="input-group">
          <label class="input-label">Address</label>
          <textarea class="input-control large no-resize" type="text" rows="3" cols="60"
            placeholder="Enter your Address" formControlName="address"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <input class="input-control" type="text" placeholder="State" formControlName="state">
        </div>
        <div class="input-group">
          <input class="input-control" type="number" maxlength="6" placeholder="Pincode" formControlName="pincode">
        </div>
      </div>
      <div class="row">
        <div class="form-info-wrapper">&nbsp;
          <p class="form-error">Enter Address Details</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row button-group">
        <button class="button">Back</button>
        <button class="button" type="submit" [disabled]="form.invalid"
          [ngClass]="{'disabled': form.invalid}">Continue</button>
      </div>
    </div>
  </form>
</div>
