<nav class="sidebar-container">
  <div class="sidebar">
    <div class="sidebar-logo">
      <!-- <img class="small" src="../../../../assets/dashboard/img_robosoftlogo.png" alt="sidebar-logo-small"> -->
      <img class="large" src="../../../../assets/dashboard/img_Robosoft logo_dashboard.png" alt="sidebar-logo-large">
      <p class="sidebar-title">Intern Management</p>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <img src="../../../../assets/dashboard/icn_dashboard_selected@1.5x.svg" alt="">
        <a>Dashboard</a>
      </li>
      <li class="sidebar-item">
        <img src="../../../../assets/dashboard/icn_recruitment@1.5x.svg" alt="">
        <a>CV Analysis</a>
      </li>
      <li class="sidebar-item">
        <img src="../../../../assets/dashboard/icn_assign@1.5x.svg" alt="">
        <a>Assign Board</a>
      </li>
      <li class="sidebar-item">
        <img src="../../../../assets/dashboard/icn_rejected@1.5x.svg" alt="">
        <a>Rejected CV</a>
      </li>
      <li class="sidebar-item">
        <img src="../../../../assets/dashboard/icn_invite@1.5x.svg" alt="">
        <a>Invite</a>
      </li>
    </ul>
  </div>
</nav>
