<div class="notification">
  <p class="notification-message">Campus Interview at Nitte Institution</p>
  <div class="notification-schedule">
    <img class="notification-icon" src="../../../../../assets/dashboard/icn_datetime@1.5x.svg" alt="Date Time Icon">
    <p class="notification-date">7 Mar, 2020 | 10:00 AM</p>
  </div>
  <div class="notification-users">
    <img class="notification-profile" src="../../../../../assets/dashboard/img_robosoftlogo@1.5x.svg">
    <img class="notification-profile" src="../../../../../assets/dashboard/img_robosoftlogo@1.5x.svg">
  </div>
</div>
