<div class="user-type container">
  <div class="user-type-choice">
    <div class="box active">
      <img src="../../../../assets/3-users/icn_Recruiter_selected@1.5x.svg" alt="Recruiter Icon">
    </div>
    <div class="box">
      <img src="../../../../assets/3-users/icn_Organizer_unselected@1.5x.svg" alt="Organizer Icon">
    </div>
    <div class="box">
      <img src="../../../../assets/3-users/icn_Approval_unselected@1.5x.svg" alt="Approver Icon">
    </div>
  </div>
  <div class="user-type-button">
    <button class="btn btn-danger">Next &rarr;</button>
  </div>
</div>
<div class="alternate">
  <p class="alternate-message">New to Intern Management ? </p>
  &nbsp;
  <p class="alternate-action">Signup</p>
</div>
