<div class="container user-type">
  <div class="user-type-choice">
    <div class="choice active">
      <img class="choice-icon" src="../../../../assets/3-users/icn_Recruiter_selected@1.5x.svg" alt="Recruiter Icon">
      <p class="choice-title">Recruiter</p>
    </div>
    <div class="choice">
      <img class="choice-icon" src="../../../../assets/3-users/icn_Organizer_unselected@1.5x.svg" alt="Organizer Icon">
      <p class="choice-title">Organizer</p>
    </div>
    <div class="choice">
      <img class="choice-icon" src="../../../../assets/3-users/icn_Approval_unselected@1.5x.svg" alt="Approver Icon">
      <p class="choice-title">Approval Authority</p>
    </div>
  </div>
  <div class="user-type-button">
    <button class="button" routerLink="../form">Next <i><img
          src="../../../../assets/next-arrow/icn_nextbtn_arrow@1.5x.svg" alt="Next Icon"></i></button>
  </div>
</div>
<div class="alternate">
  <p class="alternate-message">New to Intern Management ? <span class="alternate-action"
      routerLink="../success">Signup</span></p>
</div>
