@import '../../../../variables';

@mixin position-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.user-type {
  margin: 7vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &-choice {
    margin-bottom: 40px;
    display: flex;

    .choice {
      height: 160px;
      width: 185px;
      padding: 16px;
      border-radius: 15px;
      border: 2px solid rgba($color-grey-light, .3);
      color: $color-grey-dark;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all .3s ease-in-out;

      &:not(:last-child) {
        margin-right: 40px;
      }

      &-icon {
        width: 80px;
        height: 80px;
        transition: all .3s ease-in-out;
      }

      .icon-recruiter {
        background: url('../../../../assets/3-users/icn_Recruiter_unselected@1.5x.svg') no-repeat center;
        background-size: contain;
      }

      .icon-organizer {
        background: url('../../../../assets/3-users/icn_Organizer_unselected@1.5x.svg') no-repeat center;
        background-size: contain;
      }

      .icon-approval {
        background: url('../../../../assets/3-users/icn_Approval_unselected@1.5x.svg') no-repeat center;
        background-size: contain;
      }

      &:hover,
      &.active {
        cursor: pointer;
        color: $color-primary-dark;
        background-color: rgba($color-primary-dark, 0.06);
        border: 2px solid $color-primary-dark;
        transform: scale3d(1.05, 1.05, 1.05);

        .icon-recruiter {
          background: url('../../../../assets/3-users/icn_Recruiter_selected@1.5x.svg') no-repeat center;
          background-size: contain;
        }

        .icon-organizer {
          background: url('../../../../assets/3-users/icn_Organizer_selected@1.5x.svg') no-repeat center;
          background-size: contain;
        }

        .icon-approval {
          background: url('../../../../assets/3-users/icn_Approval_selected@1.5x.svg') no-repeat center;
          background-size: contain;
        }
      }

      &.active .choice-icon {
        transform: scale3d(1.1, 1.1, 1.05);

        &::after {
          content: "";
          width: 30px;
          height: 20px;
          display: block;
          background: url('../../../../assets/3-users/icn_selected_tick@1.5x.svg') no-repeat center;
          margin: 5px auto 0;
          position: relative;
          left: 7px;
          text-align: center;
        }
      }



      &-title {
        margin-top: 10px;
        margin-bottom: 0;
        color: inherit;
        font-family: Muli;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.29px;
      }
    }
  }

  &-button {
    display: flex;
    justify-content: flex-end;

    .button {
      margin-top: 40px;
      margin-bottom: 40px;
      height: 40px;
      width: 250px;
      border-radius: 8px;
      outline: none;
      border: none;
      background-color: $color-primary-dark;
      color: $color-white;
      font-family: Muli;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 18px;
      text-align: center;

      i {
        margin-left: 4px
      }
    }
  }
}

.alternate {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 40px;

  &-message {
    height: 40px;
    color: $color-grey-dark;
    font-family: Muli;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.29px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 0;
  }

  &-action {
    text-transform: uppercase;
    color: $color-primary-dark;
    font-style: 700;
    font-family: Muli;
    display: inline-block;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: translateX(2px);
    }
  }
}
