@import '../../../../variables';

.user-type {
  height: 30vh;
  font-size: .625rem;
  max-width: 72em;
  margin-top: 5em;

  &-choice {
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      margin: 0 2em;
      height: 16em;
      width: 20em;
      border-radius: 1.5em;
      border: 2px solid rgba($color-grey-light, .3);
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        border: 2px solid $color-primary-dark;
        background-color: rgba($color-primary-dark, 0.06);
      }
    }
  }

  &-button {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 5em;
    margin-right: 2em;
    margin-left: 2em;

    .btn {
      height: 40px;
      width: 115px;
      border-radius: 8px;

      &.-danger {
        background-color: $color-primary-dark;
      }
    }
  }
}

.alternate {
  position: absolute;
  bottom: 40px;
  margin: 0 auto;
  width: 100%;
  font-family: "Muli";
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;

  &-message {
    color: #808087;
    display: inline-block;
    margin: 0;
  }

  &-action {
    color: $color-primary-dark;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    transition: transform .2s;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: translateX(2px);
    }
  }
}
