<div class="container">
    <h1>Summary(March)</h1>
    <div class="summary-group">
      <div class="row">
          <img src="../../../../../assets/summary-icons/icn_applicants.png">
          <div class="column">
              <p class="number">60</p>
              <p class="category">Applications</p>
          </div>
      </div>
      <div class="row">
        <img src="../../../../../assets/summary-icons/icn_shortlisted.png" alt="">
        <div class="column">
          <p class="number">40</p>
          <p class="category">Shortisted</p>
        </div>
      </div>
      <div class="row">
        <img src="../../../../../assets/summary-icons/icn_hold.png" alt="">
        <div class="column">
          <p class="number">12</p>
          <p class="category">On hold</p>
        </div>
      </div>
      <div class="row">
        <img src="../../../../../assets/summary-icons/icn_rejected.png" alt="">
        <div class="column">
          <p class="number">37</p>
          <p class="category">Rejected</p>
        </div>
      </div>
    </div>
  </div>
  