  <div class="summary">
    <div class="summary-item">
      <img class="summary-icon" src="../../../../../assets/summary-icons/icn_applicants.png">
      <div class="summary-details">
        <p class="summary-details-value">60</p>
        <p class="summary-details-description">Applications</p>
      </div>
    </div>
    <div class="summary-item">
      <img class="summary-icon" src="../../../../../assets/summary-icons/icn_shortlisted.png" alt="">
      <div class="summary-details">
        <p class="summary-details-value">40</p>
        <p class="summary-details-description">Shortisted</p>
      </div>
    </div>
    <div class="summary-item">
      <img class="summary-icon" src="../../../../../assets/summary-icons/icn_hold.png" alt="">
      <div class="summary-details">
        <p class="summary-details-value">12</p>
        <p class="summary-details-description">On hold</p>
      </div>
    </div>
    <div class="summary-item">
      <img class="summary-icon" src="../../../../../assets/summary-icons/icn_rejected.png" alt="">
      <div class="summary-details">
        <p class="summary-details-value">37</p>
        <p class="summary-details-description">Rejected</p>
      </div>
    </div>
  </div>
