<div class="invite">
  <div class="invite-left">
    <div class="invite-left-header">
      <h1 class="invite-left-heading">Invite</h1>
      <div class="invite-left-icon"><img src="assets/dashboard-cv/icn_search.png" alt="Search Icon"></div>
    </div>
    <hr>
    <ul class="invite-left-list" *ngIf="list; else loading">
      <li class="invite-left-list-item" *ngFor="let item of list; let i = index"
        [ngClass]="{'selected': selectedIndex === i}" (click)="displayItem(selectedIndex = i)">
        <p class="invite-left-list-main">{{item.timePeriod}}</p>
        <p class="invite-left-list-sub">{{item.count}}</p>
      </li>
    </ul>
  </div>
  <div class="invite-right">
    <ng-container *ngIf="selectedIndex === 0; else sentInvite">
      <img src="assets/background-image/img_bg.svg" alt="Background">
      <app-invite-header></app-invite-header>
      <hr>
      <app-invite-body (increaseCount)="increaseCount($event)"></app-invite-body>
    </ng-container>
    <ng-template #sentInvite>
      <app-header [searchControl]="true" [dateControl]="false" [headerTitle]="'Sent Invite'"
        (searchItem)="onSearchItem($event)"></app-header>
      <hr>
      <ng-container *ngIf="invitedCandidates; else loading">
        <app-invite-sent-body [invitedCandidates]="invitedCandidates"
          *ngIf="invitedCandidates.length > 0 ; else noData"
          (increaseCount)="increaseCount(1)"></app-invite-sent-body>
      </ng-container>
    </ng-template>
  </div>
</div>
<ng-template #loading>
  <h2>Loading Items...</h2>
</ng-template>
<ng-template #noData>
  <h2 style="font-family: Muli; padding: 2rem;">No Data Found</h2>
</ng-template>