@import 'src/variables';
@import 'src/mixins';

.container {
    height: 1100px;
    width: 100%;
    border-radius: 2.5rem;
    background-color: $color-blue-light;
    padding: 3.125rem;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8.125rem;

        .heading {
            color: $color-black-light;
            font-family: Muli;
            font-size: 32px;
            font-weight: bold;
            letter-spacing: 0.22px;
            line-height: 26px;
        }

        @include button;

        .button {
            height: 3.125rem;
            width: 9rem;
            border-radius: 0.937rem;
            margin-top: 7.5rem;
            //   margin-left: 100px;
        }

        .right-date {
            height: 3.125rem;
            width: 12.5rem;
            border-radius: 0.937rem;
            background-color: $color-blue-dark;
            color: $color-grey-medium;
            font-family: Muli;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.54px;
            line-height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                color: $color-black;
            }
        }
    }

    .cv-analysis-card {
        height: 15.625rem;
        width: 100%;
        border-radius: 1.625rem;
        border: none;
        background-color: $color-blue-dark;

        .cv-analysis-details {
            float: left;
            padding-left: 2.5rem;
            padding-top: 3.75rem;

            .welcome-text {
                color: $color-black-light;
                font-family: Muli;
                font-size: 30px;
                font-weight: bold;
                letter-spacing: 0.43px;
                line-height: 20px;
            }

            .number-of-cv {
                color: $color-grey-darker;
                font-family: Muli;
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 0.31px;
                line-height: 20px;
                margin-top: 1.25rem;
                margin-left: 0.3125rem;

                span {
                    color: $color-black-light;
                    font-weight: 800;
                }
            }

            @include button;

            .button {
                height: 2.5rem;
                width: 9rem;
            }
        }

        .cv-analysis-image {
            float: right;
            margin-top: 2.375rem;
        }
    }

    .cv-graph-card {
        width: 100%;
        margin-top: 3.125rem;

        .cv-analysis-heading {
            // height: 26px;
            // width: 70px;
            color: $color-black-light;
            font-family: Muli;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 0.17px;
            line-height: 26px;
        }

        .cv-graph {
            height: 18.875rem;
            border: 1px solid $color-grey-lighter;
            border-radius: 1.625rem;
            background-color: $color-white;
            margin-top: 1.25rem;
            padding: 1.875rem;
        }
    }

    .invite-candidate-card {
        height: 8.875rem;
        width: 100%;
        border: 1px solid $color-grey-lighter;
        border-radius: 1.625rem;
        background-color: $color-white;
        padding: 2.1875rem;
        margin-top: 2.5rem;

        .invite-candidate-text {
            float: left;

            h2 {
                color: $color-black-light;
                font-family: Muli;
                font-size: 30px;
                font-weight: bold;
                letter-spacing: 0.43px;
                line-height: 20px;
                margin-top: 0.3125rem;
            }

            h3 {
                color: $color-grey-darker;
                font-family: Muli;
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 0.31px;
                line-height: 20px;
                margin-top: 1.25rem;
            }
        }

        .invite-button {
            float: right;
            @include button;
            margin-top: -25px;
            margin-right: 2.5rem;

            .button {
                height: 2.5rem;
                width: 7.5625rem;

                img {
                    margin-top: -3px;
                }
            }
        }
    }
}