<!-- <div class="user-profile">
  <div class="user-details">
    <p class="hello-text">Hello,</p>
    <p class="user-name">Renuka Shetty</p>
    <p class="designation">Recruiter</p>
  </div>
  <img src="../../../../assets/icn_hr.png" alt="Profile Picture" class="user-image">
</div> -->

<div class="row">
  <div class="column">
    <p>Hello,</p>
    <p class="name">Renuka Shetty <a href="">&or;</a></p>
    <p class="position">Recuiter</p>
  </div>
  <div class="profile-pic">
    <img src="../../../../../assets/icn_hr.png">
  </div>
</div>


<app-statistics></app-statistics>
<app-summary></app-summary>
<app-notification-item></app-notification-item>
<app-organizer-list></app-organizer-list>
