.row {
  position: absolute;
  top: 0;
  right: 0;

  .column {
    .hello-text {
      color: #333539;
      font-family: Muli;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.17px;
      line-height: 26px;
    }

    .user-name {
      color: #333539;
      font-family: Muli;
      font-size: 22px;
      font-weight: 800;
      letter-spacing: 0.17px;
      line-height: 26px;
      margin-bottom: 0;
    }

    .designation {
      color: #F52851;
      font-family: Muli;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.15px;
      line-height: 26px;
      margin-top: 0;
    }
  }

  .user-profile-image {
    height: 100px;
    width: 100px;
    background-color: #F52851;
    border-radius: 50%;
    margin-left: 40px;

    img {
      height: 49px;
      width: 48px;
      display: block;
      margin: auto;
      margin-top: 20px;
    }
  }
}