// .user-profile {
//     position: absolute;
//     top: 0;
//     right: 0;

//     .user-details {
//         margin-right: 100px;
//         margin-top: 50px;
//     }

//     .user-image {
//         height: 49px;
//         width: 48px;
//         float: right;
//         margin-top: -75px;
//         border-radius: 50%;
//         border: solid 5px #F52851;
//         object-fit: cover;
//     }
// }



.row {
    height: 51px;
    width: 560px;
    // float: left;
    // float: right;
    position: absolute;
    top: 0;
    right: 0;

    .column {

      .name {
        height: 26px;
        color: #333539;
        font-family: Muli;
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 0.17px;
        line-height: 26px;
        margin-bottom: 0;

        a {
          color: #333539;
          margin-left: 10px;
        }
      }

      .position {
        height: 26px;
        color: #F52851;
        font-family: Muli;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.15px;
        line-height: 26px;
        margin-top: 0;
      }
    }

    .profile-pic {
      height: 50px;
      width: 50px;
      background-color: #F52851;
      border-radius: 50%;
      float: right;
      margin-left: 40px;

      img {
        height: 25px;
        width: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
      }
    }
  }