<div class="container">
  <p class="success">We have successfully received your resume</p>
  <p class="thank-you">Thank you for your interest to work at Robosoft</p>
  <div class="image">
    <img src="../../../../assets/img_registrationsuccess.png" alt="Registration Successful">
  </div>
  <p class="text">We will carefully consider your application during the initial screening to
    see if they match any of our vacant positions and will contact you if you are selected
    to continue the recruitment process.</p>
  <p class="text1">We wish you every success.</p>
  <p class="website">You can check out our <a href="https://www.robosoftin.com/" target="_blank">
      Robosoft</a> website for more details</p>
</div>
