@import '../../variables';

.applicant {
  background: url('../../assets/background-image/img_bg.svg') no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  color: white;

  &-header {
    font-size: 0.625rem;
    max-height: 11.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    margin-right: 3em;

    &-logo {
      display: block;

      img {
        height: 5.5em;
        width: auto;
        margin-top: 3em;
        margin-bottom: 3em;
      }
    }
  }

  &-body {
    min-height: calc(100vh - 115px);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
