$color-white: #FFFFFF;
$color-primary-dark: #F52851;
$color-primary-light: #ED2F52;
$color-secondary-dark: #121432;
$color-secondary-light: #3D4172;
$color-grey-dark: #B2B2B2;
$color-grey-light: #C1BEBE;
$color-grey-darker:#808087;