<div class="header">
    <!-- <h1 class="header-title">{{title}}</h1> -->
    <app-header [searchControl]="false" [dateControl]="false" [headerTitle]="title"></app-header>
    <div class="header-controls">
      <div class="header-profile">
        <div class="user">
          <div class="user-info">
            <p class="user-name">Renuka Singh</p>
            <p class="user-designation">Recruiter</p>
          </div>
          <div class="user-image">
            <img src="../../../../assets/dashboard-home/icn_hr.png" alt="User Image">
          </div>
        </div>
      </div>
    </div>
  </div>